<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @terms_and_condition.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @terms_and_condition.body.gsub("\n", "<br/>").html_safe %>
</p>

<%= link_to 'Edit', edit_terms_and_condition_path(@terms_and_condition) %> |
<%= link_to 'Back', terms_and_conditions_path %>
